*__pycache__/
*.idea/*
*dataset/*
checkpoints/*
results/*
.DS_Store
run/
zzz*.py
archive
results
runs/
envs
tmp/
tmp/*
archives/*
test/data/
generalframework/trainer/deeplab_init_checkpoint/
generalframework.egg-info/
