*__pycache__/
*.idea/*
#dataset/Cityscapes
checkpoints/*
results/*
.DS_Store
run/
zzz*.py
archive
results
runs/
envs
tmp/
tmp/*
archives/*
test/data/
generalframework/trainer/deeplab_init_checkpoint/
generalframework.egg-info/
/.mypy_cache/
/.pytest_cache/
.mypy_cache/
/archives/
/generalframework.egg-info/
/runs/
/dataset/ACDC-all/.ipynb_checkpoints/
